
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;

    box-sizing: border-box;
}

.navbar ul {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
    list-style: none;
}

.navbar li{
    height: 50px;
    padding: 10px 80px;
}


.navbar a{
    font-size: 28px;
    padding: 0px 10px;
    color: black;
    border-radius: 30px;
}

.navbar a:hover {
    font-weight: 700;
    transition: all 0.10s linear;

}