.card {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 5vw;
    background: rgb(211, 211, 211);
    color: rgba(0, 0, 0, 0.726);
    box-shadow: 5px 5px ;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 15px;
}

.image {

}

.info {

}